html {
    background-image: url('/static/img/devore.jpg');
    background-color: rgba(255, 255, 255, .7);
    background-blend-mode: color;

    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.coming-soon {
    margin-top: 30vh;
    text-align: center;
}
